<!DOCTYPE html>
<html>
  <head>
    <title>Esale</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/nav" %>
  <br>
  <!-- Collect the nav links, forms, and other content for toggling -->
             <body style="height:1500px">
<% if notice.present? %>
        <div class="alert alert-info" id="flash_message" style="text-align: center">
          <button class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        <%= notice %>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-danger" id="flash_message" style="text-align: center; background-color:#ff0042;color:white">
          <button class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
          <%= alert %>
        </div>
      <% end %>

<div class="container">
    <%= yield %>
    <%= render "layouts/footer" %>
</div>    
  </body>
</html>
